<launch>

    <arg name="table_height"                            default="0.0" />
    <arg name="rviz_config"                             default="rviz.rviz" />
    <arg name="moveit_use_bio_ik"                       default="false" />
    <!-- <arg name="start_realsense"                         default="true" /> -->

    <!-- Start robot controllers, moveit and rviz -->
    <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz_sim.launch">
        <arg name="rviz_command_args"               value="-d $(find panda_grasp_server)/rviz/$(arg rviz_config)" />
        <arg name="moveit_use_bio_ik"               value="$(arg moveit_use_bio_ik)" />
    </include>

    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />

    <!-- Start the grasp and movement server node -->
    <node name="panda_grasp_server" pkg="panda_grasp_server" type="panda_grasp_server_node" output="screen">
        <param name="workspace/table_height"            value="$(arg table_height)" />
        <!-- Table size and bench size are supposed to be x,y,z -->
        <param name="workspace/table_size"              value="[1.0, 2.0, 0.8]" type="yaml" />
        <param name="workspace/bench_size"              value="[0.6, 0.6, 0.6]" type="yaml"/>
        <!-- Offset expressed in x,y coordinates with respect to the bench top surface center -->
        <param name="workspace/bench_mount_xy"          value="[0.1, 0.0]" type="yaml"/>
        <param name="planning/max_vel_scaling_factor"   value="0.3" />
        <param name="planning/max_acc_scaling_factor"   value="0.3" />
        <param name="planning/eef_link_id"              value="panda_tcp"/>
    </node>

</launch>
